[Unit]
Description=helloworld daemon 12
Requires=8012_nginx_gunicorn_socket_pass.socket
After=network.target

[Service]
PIDFile=/run/8012_nginx_gunicorn_socket_pass/pid
User=www-data
Group=www-data
RuntimeDirectory=8012_nginx_gunicorn_socket_pass
WorkingDirectory=/var/8012_nginx_gunicorn_socket_pass
ExecStart=gunicorn \
	-w 2 \
	--bind unix:/run/8012_nginx_gunicorn_socket_pass/socket \
	--pid /run/8012_nginx_gunicorn_socket_pass/pid \
	hello:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target

