[Unit]
Description=helloworld simple daemon
Requires=8001_helloworld_nginx_socket.socket
After=network.target 8001_helloworld_nginx_socket.socket


[Service]
PIDFile=/run/helloworld_1_nginx_simple/pid
User=www-data
Group=www-data
RuntimeDirectory=helloworld_1_nginx_simple
WorkingDirectory=/var/helloworld_1_nginx_simple
ExecStart=python3.7 serve.py \
	--socket-path unix:/run/helloworld_1_nginx_simple/socket
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target

